<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Multiple Browsers" parallel="tests" thread-count="3">
 
  <test name="Add New Title_Chrome">
  	<parameter name="browser"  value="Chrome"/>
    <classes>
      <class name="com.orasi.bluesource.test.TestAddNewDept">
	  </class>   
    </classes>
  </test> 
</suite> 
